/* Custom  */

/* Dialog - Rename file */
input.jp-mod-styled {
  background: var(--seoul256-dark-black);
}

select.jp-mod-styled {
  background: var(--seoul256-dark-black);
}

/* Background */

/* Seould 256 Dark Style */
.lm-dockpanel-tabbar .lm-tabbar-tab.jp-mod-current::before {
  background: linear-gradient(
    to right,
    #941e34,
    #bc6f25,
    #6789ca,
    #455f54,
    #594743
  );

  /* , #504e49, #a4a199, #e5b560, #d8ccad) */
}
